{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
<h3>Mon Panier</h3>
Retrouvez l'ensemble des produits que vous avez ajouté à votre panier. <br> <br>
{% if (cart|length)>0 %}
<table class="table">
  <thead>
    <tr>
      <th>Produits</th>
      <th>Quantite</th>
      <th>Prix</th>
      <th>Totale</th>
      <th></th>

    </tr>
  </thead>
  <tbody>
    {% set total = null %}
    {% for product in cart %}
    <tr>
        <td>
            <img src="/images/products/{{product.product.featuredImage}}" alt="" height="75px">
            {{ product.product.name }}
        </th>
        <td>
          <a href="{{ path('decreaser_cart', {'id':product.product.id})}}"><img src="{{ asset('assets/img/moins.png')}}" alt="Decresser" height="14px"> </a> 
          {{ product.quantity }}
          <a href="{{ path('add_cart', {'id':product.product.id})}}"><img src="{{ asset('assets/img/plus.png')}}" alt="Ajouter" height="14px"> </a>   
            </td>
        <td>{{ (product.product.price/100) | number_format(2, ',') }}€</td>
        <td>{{ (product.product.price * product.quantity/100) | number_format(2, ',') }}€</td>
        <td>
         <a href="{{ path('delete_cart', {'id':product.product.id})}}"><img src="{{ asset('assets/img/delete.png')}}" alt="Supprimer_mon_panier" height="40px"> </a> 
        </td>
    </tr>
    {% set total = total + (product.product.price * product.quantity) %}
    {% endfor %}
  </tbody>
</table>
<div class="text-right mb-5">
    <b>Nombres de Produits:</b> {{ cart|length}} <br>
    <b>Totale de Mon Panier:</b>  {{ (total /100) | number_format(2, ',') }}€<br> <br> 
    <a href="" class="btn btn-success btn-block"> Valider</a>
</div>
{% else %}
<hr>
<p> <b>Votre panier est vide</b> </p>
{% endif %}

{% endblock %}
