{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<main role="main">

    {% for flashError in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ flashError }}</div>
    {% endfor %}  <br>

    {% block carousel %} {% endblock %}


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="meilleur_vente">
        <h3>Nos meilleures ventes</h3>
        <p>Découvrez les articles les plus vendus.</p>
        <div class="row">
            {% for produit in produits %}
                <div class="col-md-3">
                    <div class="product-items text-center">
                        <a href="{{ path('show_products', {'slug':produit.slug})}}"> <img src="/images/products/{{produit.featuredImage}}" alt="{{ produit.name}}" class="img-fluid"></a>
                        <h5>{{ produit.name}}</h5>
                        <span class="product-subtitle">{{ produit.subtitle}}</span>
                        <span class="product-price">{{ (produit.price/100) | number_format(2, ',') }} €</span> 
                    </div> <br>
                </div>
            {% endfor %}   
        </div>
    </div>
        

<hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Une équipe de professionnel <span class="text-muted">au grand savoir-faire</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img src="{{ asset('assets/img/first.jpg') }}" class="img-fluid" alt="Un savoir-faire Français">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2 py-5">
            <h2 class="featurette-heading ">Venez nous rencontrer dans nos <span class="text-muted">boutiques en France.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="{{ asset('assets/img/second.jpg') }}" class="img-fluid" alt="Une boutique ouverte toute l'année">
        </div>
    </div>

 <br> <br>
    <!-- FOOTER -->
    
</main>

{% block newsletter %} {% endblock %}


{% endblock %}
