{% extends 'base.html.twig' %}

{% block title %} {{ produit.name}}- La Boutique Dabchi.Com{% endblock %}

{% block body %}

    <div class="row"> 
        <div class="col-md-5">
            <img src="/images/products/{{produit.featuredImage}}" alt="{{ produit.name}}" class="img-fluid">
        </div>
        <div class="col-md-7 my-auto">
            <h3>{{ produit.name}}</h3>
            <p>{{ produit.subtitle}}</p>
            <span class="product_page_price"> {{ (produit.price/100) | number_format(2, ',') }}€</span> 
            <hr>
            <p>{{ produit.description |raw}}</p>
            <a href="{{ path('add_cart', {'id':produit.id})}}" class="btn btn-primary">Ajouter au Panier</a>
        </div>
    </div>

    <hr>

    <h3>Nos meilleures ventes</h3>
    <p>Découvrez les articles les plus vendus.</p>
    <div class="row">
        {% for produit in produits %}
            <div class="col-md-3">
                <div class="product-items text-center">
                    <a href="{{ path('show_products', {'slug':produit.slug})}}"> <img src="/images/products/{{produit.featuredImage}}" alt="{{ produit.name}}" class="img-fluid"></a>
                    <h5>{{ produit.name}}</h5>
                    <span class="product-subtitle">{{ produit.subtitle}}</span>
                    <span class="product-price">{{ (produit.price/100) | number_format(2, ',') }} €</span> 
                </div>
            </div> 
        {% endfor %} 
    </div><!-- /.row -->
{% endblock %}

