{% extends 'base.html.twig' %}

{% block title %} {{ produit.name}}- La Boutique Dabchi.Com{% endblock %}

{% block body %}

    <div class="row"> 
        <div class="col-md-5">
            <img src="/images/products/{{produit.featuredImage}}" alt="{{ produit.name}}" class="img-fluid">
        </div>
        <div class="col-md-7 my-auto">
            <h3>{{ produit.name}}</h3>
            <p>{{ produit.subtitle}}</p>
            <span class="product_page_price"> {{ (produit.price/100) | number_format(2, ',') }}€</span> 
            <hr>
            <p>{{ produit.description |raw}}</p>
            <a href="{{ path('add_cart', {'id':produit.id})}}" class="btn btn-primary">Ajouter au Panier</a>
        </div>
    </div>
{% endblock %}

